{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.phone.label(class="form-label") }}
        {{ form.phone(class="form-control", placeholder="7XXXXXXXXXX") }}
        {% for error in form.phone.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.full_name.label(class="form-label") }}
        {{ form.full_name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}